# System files
.DS_STORE
thumbs.db

# Compiled output
/dist
/tmp
/out-tsc

# IDE - JetBrains
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Tools
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# Yarn
node_modules
yarn-error.log
# https://yarnpkg.com/advanced/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

# Local files
/local
*.local.*
*.min.*

# Misc
.eslintcache
